# Online Services Modelling - Deprivation Analysis
#### Developed by: Mary Amanuel
#### Contact: mary.amanuel@nhsx.nhs.uk
#### Last Updated: 20th November 2021

In [35]:
import pandas as pd
import os
import plotly
import plotly.graph_objects as go
import plotly.express as px
import plotly.offline as pyo
import numpy as np
import datetime
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import json
import time
import numpy as np
from pandas import json_normalize

In [48]:
url = 'https://services3.arcgis.com/ivmBBrHfQfDnDf8Q/arcgis/rest/services/Indices_of_Multiple_Deprivation_(IMD)_2019/FeatureServer/0/query?where=1%3D1&outFields=lsoa11cd,lsoa11nm,lsoa11nmw,st_areasha,st_lengths,IMD_Rank,IMD_Decile,LSOA01NM,LADcd,LADnm,IMDScore,IMDRank0,IMDDec0,TotPop&outSR=4326&f=json'
r = requests.get(url)
r

In [53]:
json = r.json()

In [56]:
pd.DataFrame.from_dict(r)

                                                       0
0      b'{"objectIdFieldName":"FID","uniqueIdField":{...
1      b'{"shapeAreaFieldName":"Shape__Area","shapeLe...
2      b'ygon","spatialReference":{"wkid":4326,"lates...
3      b'11cd","sqlType":"sqlTypeNVarchar","length":8...
4      b',"alias":"lsoa11nm","sqlType":"sqlTypeNVarch...
...                                                  ...
25762  b'0856425316507528,51.5835356642384],[-0.08609...
25763  b'03338,51.583729056455],[-0.0877434462995248,...
25764  b'891201091],[-0.0905555913085006,51.583795116...
25765  b'-0.0885498004378262,51.586070708599],[-0.088...
25766  b'8370169,51.5856725658029],[-0.08427455068044...

[25767 rows x 1 columns]

KeyError: 'rows'